alabaster==0.7.12
asn1crypto==0.24.0
Babel==2.6.0
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.4.2
docutils==0.14
filelock==3.0.10
Flask==1.0.2
Flask-Sphinx-Themes==1.0.2
idna==2.8
imagesize==1.1.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
packaging==18.0
pluggy==0.8.0
py==1.7.0
pycparser==2.19
Pygments==2.3.1
PyJWT==1.7.1
pyparsing==2.3.0
pytz==2018.7
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tox==3.6.1
urllib3==1.24.1
virtualenv==16.2.0
Werkzeug==0.14.1
