alabaster==0.7.10
asn1crypto==0.24.0
Babel==2.5.3
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3
docutils==0.14
Flask==1.0
Flask-Sphinx-Themes==1.0.2
idna==2.6
imagesize==1.0.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
packaging==17.1
pluggy==0.6.0
py==1.5.3
pycparser==2.18
Pygments==2.2.0
PyJWT==1.6.1
pyparsing==2.2.0
pytz==2018.4
requests==2.18.4
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.4
sphinxcontrib-websupport==1.0.1
tox==3.0.0
urllib3==1.22
virtualenv==15.2.0
Werkzeug==0.14.1
